<!DOCTYPE html>
{% load static %}
<html>

	<head>
		<title>
			{% block title_block %}
				{{ app_name }}
			{% endblock %}
		</title>

	</head>

	<body>
		
		<h1 style="text-align:center;color:red">
			{% block heading_block %}
				Welcome to {{ app_name }}
			{% endblock %}
		</h1>
			<a href="{% url 'grey_index' %}">HomePage</a>

		<div>
			{% block content_block %}
				Created by {{ creator }}
			{% endblock %}
		</div>

		<a href="{% url 'upload_file' %}">Add a File to {{ app_name }}</a>
	</body>
</html>
