{% extends 'grey/default.html' %}
{% load static %}

{% block content_block %}
	<table class="table table-hover table-dark">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">FileClass</th>
				<th scope="col">FileCount</th>
			</tr>
		</thead>
		<tbody>
			{% if the_list %}
				{% for file_class, file_count in the_list %}
						<tr>
							<td scope="row">{{ forloop.counter }}</th>
							<td><a href="/file_class/{{ file_class.id }}"><button type="button" class="btn btn-primary ">{{ file_class.class_name }}</button></a></td>
							<td>{{ file_count }}</td>
						</tr>
				{% endfor %}
			{% else %}
				<strong>There are No Categories Currently</strong>
			{% endif %}
		</tbody>
	</table>
{% endblock %}
