{% extends 'grey/default.html' %}
{% load static %}

{% block title_block %}
	{{ app_name }} - File Upload
{% endblock %}

{% block heading_block %}
	Upload File to {{ app_name }}
{% endblock %}

{% block content_block %}
	<div class="mx-auto form-group" style="width: 1000px;">
		<form id="file_upload_form" method="post" action="{% url 'upload_file' %}" enctype="multipart/form-data">
			{% csrf_token %}
			{% for field in form %}
				{{ field.errors_messages }}
				{{ field.help_text }}
				{{ field }}
			{% endfor %}
			<button type="submit" class="btn btn-primary">
				Upload
			</button>
		</form>
	</div>
{% endblock %}



<div class="input-group mb-3">
<div class="custom-file">
<input type="file" class="custom-file-input" id="inputGroupFile02">
<label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
</div>
<div class="input-group-append">
<span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
</div>
</div>

